---
layout: page
description: "Full publication list for Tete"
noindex:  true
---

<div id="publications" class="publications">
  <h1 class="lg-heading text-center">
    <i class="fa fa-file" aria-hidden="true"></i>
    Full Publication List
  </h1>

  <div class="pub-navigator"></div>

  {% for publication in site.data.publications %}
  <div class="pub">
    <div class="pub-left">
      <img class="intro-img {{publication.imgprop}}" src="{{ publication.imgurl | prepend: site.baseurl }}"/>
    </div>
    <div class="pub-right">
      <div class="title">
        {{ publication.title }}
      </div>
      <div class="authors">
        {% for author in publication.authors %}
        <a class="author" href="{{ author.url }}">
          {{ author.name | prepend: ' '}}
          {% if author.equal_contribution %}*{% endif %}
          {% if author.equal_advising %}<sup>&#8224</sup> {% endif %}
        </a>
        {% if forloop.last == false %},{% endif %}
        {% endfor %}
      </div>
      <div class="desc">
        <p>{{ publication.desc }} {% if publication.has_equal_contribution %}<br>*: equal contribution {% endif %} {% if publication.has_equal_advising %}<br>&#8224: equal advising {% endif %}</p>
      </div>
      <div class="publish">
        <span class="publisher">{{ publication.publisher }}</span>
        <span class="status">{{ publication.status }}</span>
        <span class="place">{{ publication.place }}</span>
      </div>
      <div class="tags">
        {% for tag in publication.tags %}
        [<a class="tag" href="{{tag.url}}"><strong>{{ tag.name }}</strong></a>]
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="button">
    <h1 class="sm-heading text-center"><a href="{{ site.url }}">
      <i class="fa fa-arrow-circle-left"></i> Back
    </a></h1>
  </div>

</div>
