
.patents {
  max-width:        -webkit-calc(100% - (#{$spacing-unit} / 2));
  max-width:        calc(100% - (#{$spacing-unit} / 2));
  margin-top:       #{$spacing-unit};
  font-family:      'Roboto',sans-serif, Helvetica;
}

.pat-list {
  overflow:         auto;
}

.pat {
  radius:         15px;
  float:          left !important;
  margin-top:     0.15cm;
}

.pat-right {
  float:         left;
  clear:         both;
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
}

.pat-right > .title {
  white-space:  nowrap;
  font-weight:  600;
}

.pat-right > .authors > .author {
  color:          $blue-color;
  font-weight:    400;
}

.pat-right > .info {
  float: left;
}

.pat-right > .info > .place {
  color:          $blue-color-dark;
  font-size:      16px;
  font-weight:    800;
}

.pat-right > .info > .status {
  color:          $red-color-dark;
  font-size:      16px;
}

.pat-right > .info > .patent_number {
  color:          $blue-color;
  font-weight:    500;
  font-size:      16px;
}
